@model IEnumerable<ClubCompetition.Models.Member>

@{
    ViewBag.Title = "Index";
    var count = 1;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Member", FormMethod.Get))
{
    <b>Member Id or Name : </b> 
    @Html.TextBox("Search");
    <input type="submit" value="Search" />
}
<br />
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @count
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberId }) |
            @Html.ActionLink("Delete", 
                "Delete", 
                new { id = item.MemberId },
                new { onclick = "return confirm('Are you sure?');" })
        </td>
    </tr>

    count++;
}

</table>
