@model luma.Models.Club

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
